* {
    box-sizing: border-box;
    background-color: rgb(255, 255, 246);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    background-color: aliceblue;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 4px solid rgb(222, 239, 252);
}

img {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: block;
    border: 5px solid rgb(222, 239, 252);
}

a {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin: 6px;
    display:block;
    background-color:beige;
    border: 4px solid rgb(241, 236, 210);
}